@use '../theme/mixins' as mix;
@use '../theme/fonts';
@use '../theme/palette' as pal;

.TileContainer {
  @include mix.flex;
  & h1 {
    font-weight: 200;
    transition: width 1s height 1s;
    color: gray;
  }
  z-index: 3;
  padding: 20px;
  position: relative;
  left: 0px;
  transition:
  transform 0.3s linear,
  opacity 0.2s linear;
  line-height: 30px;
}

.informational {
  cursor: pointer;
  transition: background-color 0.2s;
}

.informational:hover { background: white; }

.title-container {
  position: relative;
  @include mix.flex;
}

.title-container h1 {
  transition: all 0.2s;
}

.closeIcon {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 24px;
  margin-right: 20px;
  position: absolute;
  z-index: -1;
  left: 0;
  transform: scale(0);
  transition: transform 0.2s;
}

.closeSectionRevealed {
  position: relative;
  z-index: 0;
  transform: scale(1);
}

.flip1 {
  //transform: scaleX(-1);
  opacity: 0%;
}

.flip2 {
  transform: scaleX(-1);
  opacity: 0%;
}

article { position: relative;}

.services {
  background: white;
  z-index: 2;
  grid-area: services;
}

.portfolio {
  background: pal.$second;
  grid-area: portfolio;
}

.textEditor {
  grid-area: textEditor;
  position: relative;
  background: pal.$third;
  &:after {
    display: block;
    width: 100%;
    content: "";
    height: 10px;
    background: #C4C4C4;
    position: absolute;
    top: 0;
    z-index: 2;
  }
}

.graphics {
  grid-area: graphics;
  background: pal.$main;
  z-index: 4;
}

.name {
    grid-area: myname;
    background: white;
    grid-column: 1 / span 2;
    & h1 {
      font-weight: normal !important;
      color: rgba(0,0,0,0.62);
    }
  }

/*.server { background: white; }*/
.serverRack {
  background: white;
  grid-area: serverRack;
  z-index: 5;
}

.about {
  grid-area: about;
  background: pal.$second;
}

.contact {
  grid-area: contact;
  background: pal.$third;
}

.abstract {
  grid-area: abstract;
  z-index: 1;
}

.blob {
  display: none;
  position: absolute;
  z-index: 2;
  top: 100px;
  left: 70%;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 800px) {
  .name {
    grid-column: 2 / span 2;
  }

  .abstract {
    position: absolute;
    left: 50%;
    top: 80px;
    z-index: 6;
  }

  .serverRack{
    background: pal.$third;
  }

}
